.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;

  @media (max-width: 900px) {
    margin-top: -20rem;
  }

  &__hero {
    @include hero-background("/assets/images/hero-contact.png");
  }

  &__info {
    @include initial-position;

    width: 50%;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    color: $cl-gray-dark;
    text-align: center;
    font-size: $font-medium;
    letter-spacing: 1px;
    font-family: "Italiano";

    @media (min-width: 1500px) {
      width: 80%;
      gap: 3rem;
      font-size: $font-biggest;
    }
    @media (max-width: 950px) {
      width: 80%;
      padding-top: 6rem;
    }
    @media (max-width: 425px) {
      width: 90%;
    }

    &.slideInFromBottom {
      opacity: 1;
      transform: translateY(0);
    }

    & img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      border: 6px solid $cl-white;
      @include box-shadow;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin-bottom: 4rem;

    & > * {
      position: relative;

      &::after {
        content: "";
        background: $cl-accent;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -3rem;
        left: 0;
      }

      &:nth-of-type(4)::after {
        display: none;
      }
    }
  }

  &__form {
    @include initial-position;

    margin-bottom: 10rem;
    border-radius: 12px;
    width: 35%;
    padding: 6rem 4rem;
    background: $cl-gray-light-2;
    display: flex;
    flex-direction: column;
    color: $cl-gray-dark-2;

    @media (min-width: 1500px) {
      width: 50%;
      font-size: $font-medium;
    }
    @media (max-width: 950px) {
      width: 80%;
    }
    @media (max-width: 425px) {
      width: 90%;
      padding: 3rem;
    }

    &.slideInFromBottom {
      opacity: 1;
      transform: translateY(0);
    }

    &--label {
      margin-bottom: 0.6rem;
      margin-left: 1.4rem;
    }

    &--input {
      margin-bottom: 2rem;
      border: none;
      border-radius: 10px;
      padding: 1rem;
      font-family: "Roboto";
      font-size: $font-base;
      color: $cl-gray-dark-2;
      background: $cl-white;

      @media (min-width: 1500px) {
        font-size: $font-medium;
      }

      &:focus {
        outline: 1px solid $cl-gray-dark;
        background: $cl-white;
      }
    }

    &--btn {
      cursor: pointer;
      border: none;
      border-radius: 10px;
      width: 40%;
      margin: 0 auto;
      margin-top: 2rem;
      padding: 1rem 0rem;
      font-size: $font-base;
      font-family: "Roboto";
      background: $cl-accent;
      color: $cl-gray-light-2;

      @include box-shadow;

      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $cl-gray-dark 50%
      );
      background-size: 220%;
      border-radius: 10px;
      transition: all 0.8s;

      &:hover {
        background-position: 100%;
        color: $cl-white;
        transform: translateX(1rem);
      }
    }
  }
}
