@mixin box-shadow {
  box-shadow: 0 1rem 3rem rgba($cl-dark, 0.15);
}

@mixin initial-position {
  opacity: 0;
  transform: translateY(20%);
  transition: all 1s ease-out;
}

@mixin hero-background($image-url) {
  position: relative;
  width: 100vw;
  padding-top: 80%;
  margin-top: -28rem;

  background: url(#{$image-url});
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  height: auto;

  @media (min-width: 1500px) {
    padding-top: 50%;
  }

  @media (max-width: 1460px) {
    padding-top: 55%;
  }

  @media (max-width: 650px) {
    padding-top: 70%;
  }
  @media (max-width: 500px) {
    padding-top: 85%;
  }

  @media (max-width: 470px) {
    padding-top: 80%;
  }
  @media (max-width: 410px) {
    padding-top: 90%;
  }
  @media (max-width: 318px) {
    padding-top: 110%;
  }
}
