.plan {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  background: $cl-white;
  padding-top: 6rem;
  padding-bottom: 5rem;
  @include initial-position;

  &.slideInFromBottom {
    opacity: 1;
    transform: translateY(0);
  }

  &__step {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    @media (max-width: 460px) {
      gap: 1rem;
      width: 90%;
    }

    &--section {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    &--number {
      position: absolute;
      bottom: -5rem;
      left: -5rem;
      font-size: $font-number;
      color: $cl-gray-light;
      z-index: 1;
      font-family: "Italiano";

      @media (max-width: 460px) {
        font-size: 8rem;
        left: 3rem;
      }
    }

    &.even {
      flex-direction: row-reverse;
    }

    &--heading {
      font-family: "Italiano";
      z-index: 2;

      @media (max-width: 460px) {
        font-size: $font-base;
      }
    }

    &--img img {
      position: relative;
      width: 20rem;
      height: auto;
      z-index: 2;

      @media (max-width: 460px) {
        width: 12rem;
      }
      @media (max-width: 370px) {
        width: 8rem;
      }
    }

    &--text {
      width: 30%;
      line-height: 1.2;
      letter-spacing: 0.8px;

      @media (max-width: 460px) {
        width: 100%;
      }
    }
  }
}
