.prices {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__hero {
    @include hero-background("/assets/images/hero-prices.png");
  }

  &__info {
    padding-top: 8rem;
    margin-bottom: 10rem;

    @media (max-width: 620px) {
      padding-top: 0;
    }

    @include initial-position;

    &.slideInFromBottom {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__btns {
    display: flex;
    gap: 30rem;
    position: relative;

    @media (max-width: 850px) {
      gap: 13rem;
      justify-content: center;
    }
    @media (max-width: 450px) {
      gap: 6rem;
    }

    &::after {
      content: "";
      width: 1px;
      height: 5rem;
      background: $cl-gray-dark;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__btn {
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: $font-medium;
    font-family: "Roboto";
    letter-spacing: 1px;
    color: $cl-dark;

    @media (max-width: 450px) {
      width: 10rem;
    }

    transition: all 0.4s ease;

    &:hover {
      transform: scale(110%);
    }
  }

  &__data {
    margin-top: 10rem;
    margin-bottom: 12rem;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    @media (max-width: 620px) {
      gap: 3rem;
    }
    @media (max-width: 450px) {
      flex-direction: column;
      width: 90%;
      margin-left: auto;
    }

    &::after {
      content: "";
      background: $cl-accent;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -5rem;

      @media (max-width: 620px) {
        width: 80%;
      }
    }

    &:nth-of-type(4)::after {
      display: none;
    }

    &--section {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    &--number {
      position: absolute;
      bottom: -3rem;
      left: -5rem;
      font-size: $font-number;
      color: $cl-white;
      z-index: 1;
      font-family: "Italiano";

      @media (max-width: 620px) {
        font-size: $font-number-small;
      }
    }

    &--heading {
      font-family: "Italiano";
      text-transform: uppercase;
      font-size: $font-medium;
      z-index: 2;
    }

    &--price {
      font-size: $font-medium;
      font-style: italic;
    }
  }

  &__details {
    display: block;
    line-height: 2;
    text-align: center;
    font-size: $font-medium;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 1px;
    color: $cl-accent;

    @media (max-width: 450px) {
      font-size: $font-base;
      width: 90%;
      margin: 0 auto;
    }
  }
}
