// Colors
$cl-white: #ffffff;
$cl-gray-light: #dfd6ce;
$cl-gray-light-2: #efebe7;
$cl-gray-dark: #7f7a75;
$cl-gray-dark-2: #726e69;
$cl-dark: #545454;
$cl-accent: #b48d73;

// Font size
$font-small: 1.6rem;
$font-base: 1.8rem;
$font-medium: 2.8rem;
$font-big: 3.6rem;
$font-biggest: 6rem;
