@import "variables";
@import "loader";
@import "hero";
@import "nav";
@import "animations";
@import "plan";
@import "footer";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100dvh;
  font-size: $font-base;
  font-family: "Roboto", sans-serif;
  color: $cl-dark;
  background-color: $cl-gray-light;
}

.image {
  width: 40rem;
  height: auto;
  border: 10px solid $cl-white;
  border-radius: 4px;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
