@import "variables";
@import "mixins";
@import "loader";
@import "hero";
@import "nav";
@import "animations";
@import "plan";
@import "footer";
@import "contact";
@import "about";
@import "prices";
@import "blog";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100dvh;
  font-size: $font-base;
  font-family: "Roboto", sans-serif;
  color: $cl-dark;
  background-color: $cl-gray-light;
}

.image {
  width: 40rem;
  height: auto;
  border: 10px solid $cl-white;
  border-radius: 4px;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
}

.error {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 20rem;
  font-family: "Italiano";
  color: $cl-dark;

  &__heading {
    font-size: $font-big;
  }

  &__btn {
    cursor: pointer;
    font-family: "Roboto";
    border: none;
    display: inline-block;
    font-size: $font-medium;
    color: $cl-gray-dark;
    padding: 1rem 2rem;
    text-transform: uppercase;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      $cl-white 50%
    );
    background-size: 220%;
    border-radius: 10px;
    transition: all 0.8s;

    &:hover {
      background-position: 100%;
      color: $cl-accent;
      transform: translateX(1rem);
    }
  }
}

.error-message {
  font-size: $font-small;
  margin-left: 2rem;
  color: $cl-accent;
}

.submission-message {
  margin-top: 3rem;
  text-align: center;
  color: $cl-accent;
  font-weight: 600;
}

.link__btn {
  margin-top: 6rem;
  background: $cl-accent;
  padding: 2rem;
  text-decoration: none;
  border-radius: 10px;
  @include box-shadow;

  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    $cl-gray-dark 50%
  );
  background-size: 220%;
  border-radius: 10px;
  transition: all 0.8s;

  &:hover {
    background-position: 100%;
    color: $cl-white;
    transform: translateX(1rem);
  }

  & span {
    color: $cl-white;
    font-weight: 500;
    letter-spacing: 1px;
  }
}
